body {
	background: rgba(239, 239, 239);
	margin: 0;
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	height: 100%;
}

main {
	background: url('monitor.png');
	background-position: top center;
	background-size: 800px 800px;
	background-repeat: no-repeat;
	color: white;
	min-height: 100vh;
	position: relative;
	/*z-index: -1;*/
}

.result-cntnr {
	text-align: center;
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translate(-50%);
	z-index: 0;
}

.result-cntnr h1 {
	font-size: 6em;
	text-align: center;

}

.btn-cntnr {
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translate(-50%);
	z-index: 0;
}

.ai-text-cntnr {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%);
}

.ai-text-cntnr h1 {
	font-size: 2em;
}

.plyr-input-cntnr {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%);
	z-index: 0;
}

.score {
	background: black;
	width: 200px;
	position: absolute;
	top: 1%;
	left: 1%;
	/*margin: 20px;*/
	z-index: 0;
}
.score h4 {
	margin: 0;
	padding: 10px;
	/*text-align: center;*/
	font-size: 1em;
}

button {
	width: 200px;
	height: 90px;
	background: rgb(0, 69, 156);
	border-radius: 10px;
	font-size: 50px;
	color: rgba(239, 239, 239);
	/*margin: 0 5px 0;*/
}

#modal {
	position: absolute;
	display: none;
	background: black;
	width: 100%;
	height: 100vh;
	z-index: 1000;
}

#modal h1 {
	color: white;
	font-size: 10em;
}

/*#modal button {
	width: 100px;
	height: 50px;
}*/